{% extends "base.tmpl" %} {% block body %} 
<div class="background-wrapper benches" data-stellar-background-ratio="0.8">
    <div id="content">
        <div class="header">
            <div class="header-inner">
                   <a class="navbar-brand center-block" href="/" title="Home">
                    <h1 class="hidden">
                        <img src="img/logo.png" alt="Logo">

                    </h1>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Login
                        </h3>
                    </div>
                    <div class="panel-body none" id="#errormessage">
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            <h4>
                                Failed!
                            </h4>
                            <p class="red">Try again!</p>
                        </div>
                    </div>
                    <form accept-charset="UTF-8" class="login" role="form" method="post">
                        <fieldset>
                            <div class="form-group">
                                <div class="input-group input-group-lg">
                                    <span class="input-group-addon"><i class="fa fa-fw fa-envelope"></i></span>
                                    <input type="text" class="form-control" name="login" placeholder="Login">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group input-group-lg">
                                    <span class="input-group-addon"><i class="fa fa-fw fa-lock"></i></span>
                                    <input type="password" class="form-control" name="password" placeholder="Password">
                                </div>
                            </div>
                            <div class="checkbox">
                                <label>
                    <input name="rememberme" type="checkbox"  value="Remember Me">
                    Remember Me
                  </label>
                            </div>
                            <input class="btn btn-lg btn-primary btn-block" type="submit" value="Login">
                        </fieldset>
                    </form>
                    <p class="m-b-0 m-t">Not signed up? <a href="/register/">Sign up here</a>.</p>

                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}