{% extends "base.tmpl" %} {% block body %}

<div class="background-wrapper benches" data-stellar-background-ratio="0.8">
    <div class="content-login">
        <div class="header-logo">
            <div class="header-inner">
                <a class="navbar-brand center-block" href="/" title="Home">
                    <h1 class="hidden">
                        <img src="{{ public_url }}img/brand1.png" alt="Logo">

                    </h1>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Sign Up
                        </h3>
                    </div>
                    {% if message == 'success' %}
                    <div class="panel-body sendmessage">
                        <div class="alert alert-success">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            <h4>
                                Successfully!
                            </h4>
                            <p>Log in <a href="login">here</a></p>
                        </div>
                    </div>
                    {% elseif message == 'error' %}
                    <div class="panel-body errormessage">
                        <div class="alert alert-warning">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            <h4>
                                Failed!
                            </h4>
                            <p>Please fill in all fields</p>
                        </div>
                    </div>
                    {% else %}{% endif %}
                    <form class="register" accept-charset="UTF-8" role="form" method="post">
                        <fieldset>
                            <div class="form-group">
                                <div class="input-group input-group-lg">
                                    <span class="input-group-addon"><span class="fa fa-fw fa-user-md"></span></span>
                                    <input type="text" class="form-control" name="user_name" placeholder="Username">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group input-group-lg">
                                    <span class="input-group-addon"><span class="fa fa-fw fa-user"></span></span>
                                    <input type="text" class="form-control" name="login" placeholder="Login">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group input-group-lg">
                                    <span class="input-group-addon"><span class="fa fa-fw fa-envelope"></span></span>
                                    <input type="text" class="form-control" name="email" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group input-group-lg">
                                    <span class="input-group-addon"><span class="fa fa-fw fa-lock"></span></span>
                                    <input type="password" class="form-control" name="password" placeholder="Password">
                                </div>
                            </div>
                            <input class="btn btn-lg btn-pink btn-block" type="submit" value="Sign Me Up">
                        </fieldset>
                    </form>
                    <p class="m-b-0 m-t">Already signed up? <a href="login">Login here</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}