<div class="full col-md-6 row">
    <div class="col-md-2 ellipse-wrap col-md-offset-3 column">
        <img src="img/ellipse-photo.png" alt="photo" class="right">
    </div>
    <div class="col-md-7 bottom-text-wrapper column">
        <div class="bottom-box-text">
            <img src="img/quote.png" alt="text">
            <img src="img/name.png" alt="name">
        </div>
        <div class="flashers">
            <div class="flash-1"></div>
            <div class="flash-2"></div>
        </div>
    </div>
</div>
<div class="col-md-6 full row">
    <div class="col-md-8 subsribe-box">
        <div class="subsribe">
            <div class="subsribe-header">
                <img src="img/subscribes.png" alt="subscribe header">
            </div>
            <div class="searcher input-group">
                <input type="text" class="form-control bottom-input" placeholder="   Enter Your Email">
                <span class="input-group-btn">
                                 <button class="btn bottom-btn-search" type="button">Subscribe</button>
                            </span>
            </div>
        </div>
    </div>
</div>
</div>
<div class="p-3"></div>
<footer>
    <div class="footer-container row">
        <div class="col-md-5 column">
            <div class="brands row">
                <div class="logo">
                </div>
                <div class="brand-name">
                </div>
            </div>
            <div class="footer-text">Objectively transition extensive data rather than cross functional solutions. Monotonectally syndicate multidisciplinary materials before go forward benefits. Intrinsicly syndicate an expanded array of processes and cross-unit partnerships.
            </div>
            <div class="footer-text">Efficiently plagiarize 24/365 action items and focused infomediaries. Distinctively seize superior initiatives for wireless technologies. Dynamically optimize. </div>
        </div>
        <div class="col-md-2 column footer-column-links">
            <header class="p-2">
                <p>COMPANY</p>
            </header>
            <div class="column p-2">
                <a href="#">Home</a>
                <a href="#">Shop</a>
                <a href="#">About</a>
                <a href="#">How It Works</a>
                <a href="#">Contact</a>
            </div>
        </div>
        <div class="col-md-2 column footer-column-links">
            <header class="p-2">
                <p>INFORMATION</p>
            </header>
            <div class="column p-2">
                <a href="#">Tearms & Condition</a>
                <a href="#">Privacy Policy</a>
                <a href="#">How to Buy</a>
                <a href="#">How to Sell</a>
                <a href="#">Promotion</a>
            </div>
        </div>
        <div class="col-md-3 column footer-column-links">
            <header>
                <p>SHOP CATEGORY</p>
            </header>
            <div class="column">
                <a href="#">Men</a>
                <a href="#">Women</a>
                <a href="#">Child</a>
                <a href="#">Apparel</a>
                <a href="#">Brows All</a>
            </div>
        </div>
    </div>
    <div class="p-3"></div>
    <div class="footer-strip row">
        <div class="footer-strip-content">
            <div class="right-bar col-md-6">
                <p>© 2017 Brand All Rights Reserved.</p>
            </div>
            <div class="icons-bar col-md-6">
                <ul>
                    <li>
                        <a href="#">
                            <div><i class="fa fa-facebook" aria-hidden="true"></i></div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div><i class="fa fa-twitter" aria-hidden="true"></i></div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div><i class="fa fa-pinterest-p" aria-hidden="true"></i></div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div><i class="fa fa-google-plus" aria-hidden="true"></i></div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</div>