<div class="row gallery-row">
    {% for good in goods %}
    <a href="{{ public_url }}good/item/?id={{ good.id }}" class="a-hidden">
        <div class="col-md-3 col-sm-6 {{ good.type }}">
            <div class="thumbnail card">
                <div class="img-shadow">
                    <img src="{{ public_url }}{{ good.img }}" alt="t-shirt">
                </div>
                <div class="caption">
                    <p>{{ good.name }}</p>
                    <p>${{ good.price }}</p>
                    <form class="addToBasket {{ canBuy }}" accept-charset="UTF-8" role="form" method="post">
                        <input type="hidden" name="quantity" value="1">
                        <input type="hidden" name="action" value="add_good">
                        <input type="hidden" name="id_good" value="{{ good.id }}">
                        <button type="submit" role="button" class="pink btn-submit">
                        <span class="glyphicon glyphicon-plus add-good-sign" data-toggle="tooltip" data-placement="right" title="add to basket">
                            </span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </a>
    {% endfor %}
</div>