$black: #222222;
$box-shadow: rgba(58, 56, 56, 0.83);
$grey: #898989;
$grey-disable: #636363;
$header-font-cl: #4d4d4d;
$light-grey: #e6e6e6;
$light-pink: #f8f3f4;
$middle-grey: #a4a4a4;
$middle-grey-var: #d6d6d6;
$dark-grey: #7a7a7a;
$pink: #f16d7f;
$white-border: #eaeaea;
$white-cl: #fff;
$grey-shadow: rgba(0, 0, 0, 0.17);
$opacity: rgba(255, 255, 215, .5);
$bottom-input-bg: $light-grey;
$bottom-btn-bg: $pink;
$breadcrumb-cl-active: $pink;
$breadcrumb-cl-disable: $grey-disable;
$carusel-bg-cl: #f7f7f7;
$carusel-btn-cl: rgba(42, 42, 42, 0.15);
$choce-block-hr: $white-border;
$choce-block-properties: #b9b9b9;
$choce-block-properties-str: #2f2f2f;
$choice-item-bg-cl: $white-cl;
$choice-item-border-cl: $white-border;
$flash1-cl: $middle-grey-var;
$flash2-cl: $pink;
$footer-links-cl: $grey;
$footer-strip-bg: $light-grey;
$footer-text: $middle-grey;
$font-cl: $black;
$gallery-box-shadow: 0px 5px 8px 0px $grey-shadow;
$gallery-backgraund-hover: rgba(58, 56, 56, 0.83);
$head-gallery-font-cl: $header-font-cl;
$head-choice-block-cl: $pink;
$head-choice-bloct-text-cl: #5e5e5e;
$header-text-choice-block-cl:$header-font-cl;
$search-button-color: $middle-grey;
$sub-page-card-font-cl: #6f6e6e;
$sub-page-card-bg-cl: #e9e9e9;
$footer-header-color: $pink;
$font-cl-card-price: $pink;
$button-color: $pink;
$full: 100%;
$full-height: 4481px;
$icons-box-color: $white-cl;
$icons-box-color-hover: $pink;
$icon-color: #b2b2b2;
$icon-color-hover: $white-cl;
$null: 0;
$none: none;
$nav-border: 1px solid #ececec;
$nav-shadow: 0px 0px 10px 0px $grey-shadow;
$price-in-choice-block: $pink;
$right-bar-text: $dark-grey;
$search-style: 1px solid $light-grey;
$search-button-color: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
$searh-height: 35px;
$top-strip-pink-cl: $light-pink;
$top-strip-pink-header-cl: $pink;
$brand-name: url('../img/BRAND.png');
$backet-ico: url('../img/basket.png');
$bottom-img: url('../img/bottom-image.jpg');
$logo: url('../img/brand1.png');
$top-image: url('../img/top-image.jpg');