{% extends "base.tmpl" %} {% block body %} {% include "layouts/header.tmpl" %}


<div class="jumbotron error-block">
    <div class="center-block secure-panel">
        <h1>404</h1>
        <p>
            Page not exist!
        </p>
        <a href="/" class="btn btn-pink">Back to main page</a>
    </div>
</div>


{% include "layouts/footer.tmpl" %} {% endblock %}